# Compilados automáticos (Debug / Release)
x64/
bin/
obj/
Debug/
Release/

# Visual Studio cache
.vs/
*.VC.db
*.VC.VC.opendb

# Logs e temporários
*.log
*.tlog
*.idb
*.ipdb
*.iobj

# Ficheiros de utilizador (settings locais)
*.suo
*.user
*.userosscache

# PDB (debug info)
*.pdb
*.mdb

# Executáveis e bibliotecas
*.exe
*.dll
*.lib
*.app
*.out
*.so
*.dylib

# Arquivos de build auxiliares
*.ilk
*.obj
*.o
*.lo
*.slo
*.mod
*.smod
*.lai
*.la
*.a
*.d
*.dwo
*.gch
*.pch

# Ficheiros específicos de receitas/build do VS
*.recipe

# Diretórios de build adicionais (caso apareçam)
[Bb]uild/
